header {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	font-family: 'Six Caps', Roboto;
	font-size: 2.5rem;
	color: white;
	background-image: url(../assets/bg.jpg);
	background-repeat: repeat;
	background-size: 15rem;
}
