main #gameboard {
	--repeat: auto-fit;
}

@media (min-width: calc(13rem * 6)) {
	main #gameboard {
		--repeat: 6;
	}
}

main {
	text-align: center;
}

main h2 {
	margin: 1rem;
	font-size: 2rem;
}

main #gameboard {
	display: grid;
	grid-template-columns: repeat(var(--repeat, auto-fit), 12rem);
	justify-content: center;
	gap: 1rem;
}
